@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
//Color Variable
$CM: #dd6310;
$CB: #018ee3;
$SC: #888;
$BC: #04aa6d;
$BB: #121824;
$SB: #fffafa;

/* -- Stepped Progress Bar -- */
$ProgressBase: rgb(
  128,
  128,
  128
); // Color of the upcoming steps - lightened for the connecting bar
$ProgressComplete: rgb(35, 185, 0); // Color of completed steps
$ProgressCurrent: rgb(65, 112, 176); // Color of the Current step
$VerticalBreakPoint: 480px;

$color-background: #f5f5f5;
$color-main: #018ee3;
$color-active: #fff;
$color-link: #fff;

//register
$body-bg: #c1bdba;
$form-bg: #13232f;
$white: #ffffff;

$main: linear-gradient(90deg, $CB 58%, rgba(0, 0, 0, 0.8) 200%);
// $main:linear-gradient(90deg, rgba(18, 24, 36, 0.9) 5%, $CB 55%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

$button-height: 27px;
$button-width: 35px;

//MarPad
@mixin MarPad {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//body
body {
  // font-family: "Roboto", sans-serif;
  font-family: "Open Sans", sans-serif;
  // font-family: 'Dosis', sans-serif;
  // font-family: "Merriweather", serif;
  line-height: 1.6;
  letter-spacing: 1px;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-wrap: break-word;
  word-wrap: break-word;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all ease 0.3s;
  color: #000;
  background-color: white;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;

  h2 {
    font-family: "Dosis", sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: $main;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 120px;
      height: 1px;
      background: $CB;
      bottom: 1px;
      left: calc(50% - 60px);
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 40px;
      height: 3px;
      background: $CB;
      bottom: 0;
      left: calc(50% - 20px);
    }
  }
  p {
    margin-bottom: 0;
    font-size: 1rem !important;
    font-weight: 500;
    color: grey;
    span {
      font-style: italic;
    }
  }
}

.getStart {
  background: $main;
  color: #fff;
  font-size: 16px;
  padding: 14px 28px;
  width: 250px;
  max-width: 90%;
  margin-top: 25px;
  border-radius: 4px;
  outline: 0;
  box-shadow: none !important;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  &:hover {
    opacity: 0.8;
  }
}
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  background: linear-gradient(rgba(40, 58, 90, 0.5), rgba(40, 58, 90, 0.5)),
    url("../img/banner-8.jpg") fixed center center;
  background-size: cover;
  padding: 80px 0;
  color: white;
  /* padding: 15px 0;
background: #f3f5fa;
min-height: 40px;
margin-top: 72px; */
  h2 {
    font-size: 28px;
    font-weight: 600;
    color: white !important;
  }
  a {
    color: $BB;
    font-size: 14px;
    font-weight: 800 !important;
  }

  @media (max-width: 992px) {
    .breadcrumbs {
      margin-top: 68px;
    }
  }
  ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 14px;
  }

  ol li + li {
    padding-left: 10px;
  }

  ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: #4668a2;
    content: "/";
  }
}

//header
.header {
  // background: #101820FF;
  background: #121824;
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 99;
  .navbrand {
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800px;
    color: white;
    line-height: 80px;
  }

  .button_container {
    position: fixed;
    top: 6%;
    right: 2%;
    height: $button-height;
    width: $button-width;
    cursor: pointer;
    z-index: 9999;
    transition: opacity 0.25s ease;

    &:hover {
      opacity: 0.7;
    }

    &.active {
      .top {
        transform: translateY(11px) translateX(0) rotate(45deg);
        background: $color-active;
      }
      .middle {
        opacity: 0;
        background: $color-active;
      }

      .bottom {
        transform: translateY(-11px) translateX(0) rotate(-45deg);
        background: $color-active;
      }
    }

    span {
      background: $color-active;
      border: none;
      height: 5px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.35s ease;
      cursor: pointer;

      &:nth-of-type(2) {
        top: 11px;
      }

      &:nth-of-type(3) {
        top: 22px;
      }
    }
  }

  .overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    overflow: hidden;
    z-index: 999;

    &.open {
      opacity: 0.9;
      visibility: visible;
      height: 100%;

      li {
        animation: fadeInRight 0.5s ease forwards;
        animation-delay: 0.35s;

        &:nth-of-type(2) {
          animation-delay: 0.4s;
        }
        &:nth-of-type(3) {
          animation-delay: 0.45s;
        }
        &:nth-of-type(4) {
          animation-delay: 0.5s;
        }
      }
    }
    nav {
      position: relative;
      height: 50%;
      top: 40%;
      transform: translateY(-50%);
      font-size: 30px;
      font-family: "Varela Round", serif;
      font-weight: 400;
      text-align: center;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: inline-block;
      position: relative;
      height: 100%;

      li {
        display: block;
        height: 25%;
        height: calc(100% / 4);
        min-height: 50px;
        position: relative;
        opacity: 0;

        a {
          display: block;
          position: relative;
          color: $color-link;
          text-decoration: none;
          overflow: hidden;

          &:hover:after,
          &:focus:after,
          &:active:after {
            width: 100%;
          }

          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0%;
            transform: translateX(-50%);
            height: 3px;
            background: $color-link;
            transition: 0.35s;
          }
        }
      }
    }
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }
}
//hero-bg
.hero-bg {
  background: linear-gradient(rgba(65, 105, 225, 0.3), rgba(65, 105, 225, 0.3)),
    url(../img/hero-bgg.webp) repeat fixed 100%;
  background-size: cover;
  height: 90vh;
  .hero-content {
    margin-top: 120px;
    text-align: center;
    color: white;
    .im {
      margin-top: 30px;
      .iam {
        font-size: 28px;
      }
      .dropdown {
        .btn {
          background-color: transparent !important;
          border: 1px dashed $white;
          padding: 5px 10px 5px !important;
          font-size: 30px;
          box-shadow: none !important;
          &:hover {
            .dropdown-menu {
              display: block;
              z-index: 1;
            }
          }
        }
      }
    }

    h2 {
      font-size: 43px;
      font-family: "Dosis", sans-serif;
      font-weight: 800;
    }
    p {
      font-size: 20px;
    }
  }
  @media (max-width: 768px) {
    height: 100vh;
  }
}
//network
.network {
  margin: 80px 0;
  width: 100%;
  background-color: $BB;
  padding: 20px;
  .section-title {
    margin-top: 100px;
    h2 {
      color: $white;
    }
  }
  .flags {
    a {
      text-decoration: none;
      display: inline-block;
      text-align: center;
      width: 100%;
     
      transition: 0.5s ease-in-out;
      &:hover {
        transform: translateY(-10px);
      }
      img{
        height: 170px;
      }
      span {
        font-size: 1rem;
        text-transform: uppercase;
        color: white;
        font-weight: 600;
        font-family: "Dosis", sans-serif;
      }
    }
  }
}

//oppurtunites
.featured {
  margin: 80px 0;
  width: 100%;
  height: 100%;
  .cliens {
    padding: 12px 0;
    text-align: center;
    img {
      max-width: 45%;
      transition: all 0.4s ease-in-out;
      display: inline-block;
      padding: 15px 0;
      filter: grayscale(100);
      &:hover {
        filter: none;
        transform: scale(1.1);
      }
    }
    @media (max-width: 768px) {
      .cliens img {
        max-width: 40%;
      }
    }
  }
  @media (max-width: 768px) {
  }
}

// joinCommunity
.joinCommunity {
  margin: 80px 0;
  .card-view {
    padding: 0;
    text-align: center;
    font-size: 13px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border-radius: 10px;
    transition: 0.5s;
    &:hover {
      transform: translateY(-10px);
    }
    .avatar-block {
      height: 97px;
      margin-bottom: 44px;
      background-color: #e6ecf0;
      background-size: cover;
      color: #fff;
      padding: 0 20px;
      position: relative;
      margin: 0;
      border-bottom: 1px solid #f6f9fb;
      border-radius: 9px 9px 0 0;
      img {
        height: 105px;
        width: 105px;
      }
      .img-circle {
        border-radius: 50%;
      }
      .amt-range {
        padding: 8px 28px;
        font-size: 12px;
        min-width: 100px;
        color: #fff;
        position: relative;
        z-index: 2;
        background: $main;
        border-radius: 24px;
        top: -18px;
        font-size: 14px;
        min-width: 150px;
        display: inline-block;
      }
      .label {
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
      }
    }
    .caption {
      padding: 20px;
      margin-top: 20px;
      .btn-default {
        font-size: 14px;
        color: $CB;
        border-color: #b4c3d3;
        transition: 0.3s;
        &:hover {
          color: white;
          background: $main;
        }
      }
      i {
        color: $CB;
      }
      p {
        color: $SC;
        font-size: 14px;
        margin-bottom: 14px;
      }
      h3 {
        font-size: 18px;
        color: #000;
        padding-bottom: 8px;
      }
    }
  }
  .thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
  }
}

//ourIndustry
.ourIndustry {
  .box-model {
    position: relative;
    overflow: hidden;
    border-radius: 2px 2px 0 0;
    &:hover {
      opacity: 0.9;
    }
    img {
      width: 100%;
      height: 100%;
    }
    .overlay-link {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: 11;
      color: #fff;
      text-decoration: none;
      transition-duration: 0.4s;
      .overlay-link-wrap {
        cursor: pointer;
        display: table;
        vertical-align: middle;
        height: 100%;
        width: 100%;
        font-size: 36px;
        span {
          display: table-cell;
          vertical-align: middle;
          font-size: 24px;
          padding: 8px;
        }
      }
    }
  }
  .view-all {
    color: $CB;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

//testimonial
.testimonial {
  margin: 80px 0;
  .card {
    border: solid 1px #212121;
    padding: 45px 50px 25px 60px;
    background: $main;
    // background-color: #212121;
    border-radius: 10px;
    border: none;
    color: #fff;
  }

  .post-txt {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .quote-img {
    position: absolute;
    top: 32px;
    left: 25px;
    width: 30px;
    height: 30px;
  }

  .nice-img {
    width: 20px;
    height: 25px;
    margin-bottom: 7px;
  }

  .arrow-down {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 20px solid $CB;
    margin: auto;
  }

  .fit-image {
    width: 100%;
    object-fit: cover;
  }

  .profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  .profile-name {
    font-size: 22px;
    left: 210px;
    color: $CB;
  }
}

//contry-details
.country-details {
  margin: 80px 0;
  .country-inner {
    p {
      text-align: center;
      font-size: 18px;
    }
    .left-align {
      text-align: center;
      button {
        background: $main;
        padding: 8px 55px;
        color: white;
        font-size: 1rem;
        border-radius: 3px;
        border: 1px solid #4169e1;
      }
    }
  }
}

//banner
.banner {
  background: linear-gradient(rgba(65, 105, 225, 0.3), rgba(65, 105, 225, 0.3)),
    url(../img/banner.jpg) repeat fixed 100%;
  background-size: cover;
  height: 300px;
}

//footer
footer {
  background-color: $BB;
  padding: 40px 0px 0 0;
  margin-top: 80px;
  .social-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    img {
      font-size: 40px;
      margin-bottom: 45px;
      transition: all ease 0.3s;
      &:hover {
        transform: scale(1.3);
      }
    }
    .social-links {
      display: flex;
      width: 80%;
      margin: auto;
      a {
        width: 30px;
        height: 30px;
        text-align: center;
        text-decoration: none;
        color: $white;
        font-weight: bold;
        box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
        margin: 0 6px;
        border-radius: 50%;
        border: 1px solid $gray;
        position: relative;
        overflow: hidden;
        transition: transform 0.5s;
        &::after {
          content: "";
          width: 110%;
          height: 110%;
          top: -80px;
          left: -0px;
          background: #000;
          background: $main;
          position: absolute;
          transition: 0.5s;
        }
        &:hover::after {
          top: 0;
        }
        &:hover {
          transform: translateY(-10px);
          .fab {
            color: #fff;
          }
        }
        .fab {
          font-size: 16px;
          line-height: 30px;
          position: relative;
          z-index: 10;
          transition: color 0.5s;
        }
      }
    }
  }
  p {
    color: $white;
    font-size: 14px;
    text-align: start;
  }
  .quick-links {
    h4 {
      color: $CB;
      font-family: "Dosis", sans-serif;
      font-weight: 500;
      font-size: 20px;
    }
    ul {
      @include MarPad();
      li {
        list-style: none;
        margin-top: 10px;
        a {
          text-decoration: none;
          color: $white;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }
  @media (max-width: 1000px) {
    .footer-m {
      margin-top: 10px;
    }
  }
  @media (max-width: 480px) {
    .social-links {
      width: 100%;
    }
  }
  .bottom-menu {
    li {
      a {
        text-decoration: none;
        font-size: 12px;
        color: $white;
        transition: 00.3s ease-in-out;
        &:hover {
          color: $CB;
        }
      }
    }
  }
  .copyright-text {
    font-size: 12px;
    transition: 00.3s ease-in-out;
    &:hover {
      color: $CB;
    }
  }
}

//login
.login {
  position: relative;

  h4 {
    text-align: center;
    color: $SC;
    font-weight: 300;
    margin: 10px 0 20px;
  }
  .closed {
    position: absolute;
    top: -60px;
    left: 0px;
    right: 0px;
    color: $CB;
    font-size: 2rem;
  }
  .main-content {
    max-width: 600px;
    border-radius: 3px;
    background-color: $BB;
    margin: 5em auto;
    display: flex;
  }
  .company__info {
    background: $main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
  }
  .fa-android {
    font-size: 3em;
  }
  @media screen and (max-width: 640px) {
    .main-content {
      width: 90%;
    }
    .company__info {
      display: none;
    }
  }
  @media screen and (min-width: 642px) and (max-width: 800px) {
    .main-content {
      width: 70%;
    }
  }
  .row > h4 {
    color: $CB;
  }
  .login_form {
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  form {
    padding: 0 2em;
  }
  .form__input {
    width: 100%;
    border: 0px solid transparent;
    border-radius: 0;
    border-bottom: 1px solid #aaa;
    padding: 1em 0.5em 0.5em;
    padding-left: 2em;
    outline: none;
    margin: 1.5em auto;
    transition: all 0.5s ease;
  }
  .form__input:focus {
    border-bottom-color: $CB;
    box-shadow: 0 0 5px rgba(0, 80, 80, 0.4);
    border-radius: 4px;
  }
  .btn {
    transition: all 0.5s ease;
    width: 70%;
    border-radius: 3px;
    color: #fff;
    font-weight: 600;
    background-color: #fff;
    margin: auto;
    background: $main;
  }
}

//register
.register {
  position: relative;
  .closed {
    position: absolute;
    top: 10px;
    left: 0px;
    right: 0px;
    color: $CB;
    font-size: 2rem;
  }
  a {
    text-decoration: none;
    color: $main;
    transition: 0.5s ease;
  }

  .form {
    background: white;
    padding: 20px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: $br;
    box-shadow: 0 4px 10px 4px rgba($form-bg, 0.3);
  }

  .tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    li a {
      display: block;
      text-decoration: none;
      padding: 8px;
      background: rgba($gray-light, 0.25);
      color: $SC;
      font-size: 18px;
      float: left;
      width: 50%;
      text-align: center;
      cursor: pointer;
      transition: 0.5s ease;
      &:hover {
        background: $main;
        color: $white;
      }
    }
    .active a {
      background: $main;
      color: $white;
    }
  }

  .tab-content > div:last-child {
    display: none;
  }

  h4 {
    text-align: center;
    color: $SC;
    font-weight: 300;
    margin: 0 0 20px;
  }

  label {
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    color: $SC;
    transition: all 0.25s ease;
    pointer-events: none;
    font-size: 14px;
    .req {
      margin: 2px;
      color: $main;
    }
  }

  label.active {
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
    .req {
      opacity: 0;
    }
  }

  label.highlight {
    color: $white;
  }

  input,
  textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid $gray-light;
    color: black;
    border-radius: 0;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
    &:focus {
      outline: 0;
      border-color: $SC;
    }
  }

  textarea {
    border: 2px solid $gray-light;
    resize: vertical;
  }

  .field-wrap {
    position: relative;
    margin-bottom: 25px;
  }

  .top-row {
    &:after {
      content: "";
      display: table;
      clear: both;
    }

    > div {
      float: left;
      width: 48%;
      margin-right: 4%;
      &:last-child {
        margin: 0;
      }
    }
  }

  .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 10px;
    font-size: 18px;
    font-weight: $bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: $main;
    color: white;
    transition: all.5s ease;
    -webkit-appearance: none;
  }

  .button-block {
    display: block;
    width: 100%;
  }

  .forgot {
    margin-top: -20px;
    text-align: right;
  }
  .Check {
    height: auto;
  }
}

//Dashboard
.userDashboard {
  margin: 150px 0;
  .userAccess-listing {
    padding: 20px;
    text-align: center;
    border: 1px solid $gray;
    ul {
      list-style: none;
      @include MarPad();

      li {
        margin-top: 20px;
        a {
          color: black;
          font-size: 1rem;
          text-decoration: none;
          &:hover {
            color: $CB;
          }
        }
      }
    }
  }
  .main-card {
    border-style: dashed;
  }
  .card {
    padding: 10px;
    background-color: #eeeeee;
    h4 {
      font-weight: 500;
      color: $SC !important;
      margin-bottom: 100px;
    }
    .card-body {
      .card-title {
        color: $CB !important;
      }
      .card-text {
        margin-bottom: 120px;
      }
      .addTag {
        text-align: center;
        span {
          font-size: 50px;
          color: $CB;
        }
      }
    }
  }
}

//pitch-page
.pitch {
  margin: 80px 0;
  // .custom-select
  // {
  //   width: 100%;

  // }
  .input-group {
    // display: -webkit-inline-box !important;
    // width: 100% !important;
    // display: flex;

    .custom-select {
      width: 100%;
    }
  }
  .nav {
    .active {
      background: $main;
    }
  }
  .form-group {
    .file {
      position: relative;
      overflow: hidden;
    }
  }
}

//contact
.contact {
  margin: 80px 0;
  .contact-box {
    margin-bottom: 80px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
    background: #fff;
    transition: 0.5s;
    &:hover {
      transform: translateY(-10px);
      i {
        background-color: $CB !important;
        color: $white !important;
      }
    }
    .contact-box-inner {
      text-align: center;
      i {
        color: $CB;
        padding: 20px;
        background: #f7fafd;
        border-radius: 50%;
      }
      h5 {
        margin-top: 20px;
        font-size: 1rem;
      }
      h6 {
        font-size: 14px;
      }
      .phone-number {
        margin-top: 15px !important;
      }
    }
  }
  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 14px;
    resize: vertical;
  }

  input[type="submit"] {
    background: $main;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }
  .google-map {
    margin: 80px 0;
  }
  form {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 20px;
  }
}
.contact-banner {
  .breadcrumbs {
    background: linear-gradient(rgba(40, 58, 90, 0.5), rgba(40, 58, 90, 0.5)),
      url("../img/banner-3.jpg") fixed center center;
    background-size: cover;
    padding: 80px 0;
    color: white;
  }
}

//aboutUs

.aboutUs {
  margin: 80px 0;

  .about-section {
    p {
      font-size: 1rem;
      text-align: center;
    }
  }
  .card {
    button {
      background: $main;
      border: 1px solid transparent;
      color: white;
      padding: 6px 20px;
      border-radius: 3px;
    }
  }
}

//services
.service {
  margin: 80px 0;
  .service-box {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 30px;
    border-radius: 5px;
    background: #fff;
    transition: 0.5s ease-in-out;
    &:hover {
      transform: translateY(-10px);
      // span {
      //   background-color: $white !important;
      //   color: $BB !important;

      // }
    }
    .service-box-inner {
      text-align: center;
      span {
        color: $white;
        padding: 20px;
        background: $main;
        border-radius: 50%;
        font-size: 50px;
      }
      h5 {
        margin-top: 20px;
        font-size: 18px;
        color: $CB;
      }
      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.8em;
        text-align: justify !important;
      }
      .phone-number {
        margin-top: 15px !important;
      }
    }
  }
}
//process
.process-banner {
  .breadcrumbs {
    background: linear-gradient(rgba(40, 58, 90, 0.5), rgba(40, 58, 90, 0.5)),
      url("../img/banner-5.jpg") fixed center center;
    background-size: cover;
    padding: 80px 0;
    color: white;
    /* padding: 15px 0;
  background: #f3f5fa;
  min-height: 40px;
  margin-top: 72px; */
  }
}
.process {
  // margin: 80px 0;
  // background-color: $BB;
  width: 100%;
  height: 100%;
  padding: 10px;
  position: relative;
  .section-title {
    h2 {
      margin-top: 40px;
      color: $CB;
    }
  }
  .timeline {
    width: 85%;
    height: auto;
    margin: auto;

    ul {
      list-style: none;
      @include MarPad();
      li {
        padding: 15px;
        background-color: $BB;
        color: $white !important;
        border-radius: 10px;
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .timeline-content {
      p {
        font-size: 16px;
        line-height: 30px;
        font-weight: 300;
      }
      .date {
        font-size: 12px;
        font-weight: 300;
        margin-bottom: 10px;
        letter-spacing: 2px;
      }
    }
  }

  @media only screen and (min-width: 768px) {
    .investor {
      position: relative;
    }
    .enterpernur {
      position: relative;
    }
    .timeline {
      &::before {
        content: "";
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 100%;
        background-color: gray;
      }
      ul {
        li {
          width: 50%;
          position: relative;
          margin-bottom: 40px;
          &::before {
            content: "";
            position: absolute;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: gray;
            top: -6px;
            // left: 0%;
          }
          &:nth-child(odd) {
            float: left;
            clear: right;
            transform: translateX(-30px);
            border-radius: 20px 0px 20px 20px;
            &::before {
              transform: translate(50%, -50%);
              right: -30px;
            }
          }
          &:nth-child(even) {
            float: right;
            clear: left;
            transform: translateX(30px);
            border-radius: 0px 20px 20px 20px;
            &::before {
              transform: translate(-50%, -50%);
              left: -30px;
            }
          }
        }
      }
      .timeline-content {
        .date {
          position: absolute;
          top: -30px;
        }
      }
    }
    .timeline ul li:hover::before {
      background-color: $CB;
    }
  }
  @media only screen and (max-width: 768px) {
    .timeline {
      width: 100%;
      margin-left: auto;
    }
  }
}

//pricising table



.snip1404 {
  font-family: "Dosis", sans-serif;
  color: #ffffff;
  font-size: 16px;
  width: 100%;
  // max-width: 1000px;
  // margin: 50px 10px;
}
.uncheck{
  text-decoration: line-through;
  color: #888 !important;
}
.snip1404 img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: -1;
}
.snip1404 .plan {
  margin: 0;
  position: relative;
  overflow: hidden;
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.snip1404 .plan:first-of-type {
  border-radius: 8px 0 0 8px;
}
.snip1404 .plan:last-of-type {
  border-radius: 0 8px 8px 0;
}
.snip1404 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.snip1404 header {
  // background-color: $CB;
  color: $BB;
}
.snip1404 .plan-title {
  background: $main;
  position: relative;
  margin: 0;
  color: $white;
  padding: 20px 20px 0;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.snip1404 .plan-title:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 300px 0 0;
  border-color: rgba($CB ,1) transparent transparent;
}
.snip1404 .plan-cost {
  font-family: "Open Sans", sans-serif;
  padding: 40px 20px 10px;
  text-align: right;
}
.snip1404 .plan-price {
  font-weight: 600;
  font-size: 3em;
}
.snip1404 .plan-type {
  opacity: 0.8;
  font-size: 0.7em;
  text-transform: uppercase;
}
.snip1404 .plan-features {
  @include MarPad();
}
.snip1404 .plan-features li {
  padding: 8px 5%;
  align-items: baseline;
 color: $CB;
}
.snip1404 .plan-features i {
  margin-right: 8px;
  color: $BB;
}
.snip1404 .plan-select {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}
.snip1404 .plan-select a {
  background: $main;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 20px;
  font-size: 0.75em;
  font-weight: 600;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: inline-block;
}
.snip1404 .plan-select a:hover {
  background-color: rgba($CB, 0.8);
}
.snip1404 .plan:hover {
  margin-top: -10px;
  
  z-index: 1;
  border-radius: 8px;cursor:pointer;
}
.snip1404 .plan .plan-select {
  padding: 30px 20px;
}
@media only screen and (max-width: 767px) {
  .snip1404 .plan {
    width: 100%;
  }
  .snip1404 .plan-title,
  .snip1404 .plan-select a {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .snip1404 .plan-select,
  .snip1404 .featured .plan-select {
    padding: 20px;
  }
  .snip1404 .featured {
    margin-top: 0;
  }
}
@media only screen and (max-width: 440px) {
  .snip1404 .plan {
    width: 100%;
  }
}

