@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
//Color Variable
$CM: #dd6310;
$CB: #4169e1;
$SC: #888;
$BC: #04aa6d;

$color-background: #f5f5f5;
$color-main: #4169e1;
$color-active: #fff;
$color-link: #fff;

//register
$body-bg: #c1bdba;
$form-bg: #13232f;
$white: #ffffff;

$main: linear-gradient(90deg, $CB 10%, rgba(0, 0, 0, 0.8) 100%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

$button-height: 27px;
$button-width: 35px;

//MarPad
@mixin MarPad {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//body
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  letter-spacing: 1px;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-wrap: break-word;
  word-wrap: break-word;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all ease 0.3s;
  color: $CB;
  background-color: #eeeeee;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;

  h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: linear-gradient(90deg, $CB 10%, rgba(0, 0, 0, 0.8) 100%);

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 120px;
      height: 1px;
      background: $CB;
      bottom: 1px;
      left: calc(50% - 60px);
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 40px;
      height: 3px;
      background: $CB;
      bottom: 0;
      left: calc(50% - 20px);
    }
  }
  p {
    margin-bottom: 0;
    font-size: 1rem !important;
    font-weight: 500;
    color: grey;
  }
}
//header
.header {
  background: linear-gradient(90deg, $CB 10%, rgba(0, 0, 0, 0.8) 100%);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 99;
  .navbrand {
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800px;
    color: white;
    line-height: 80px;
  }

  .button_container {
    position: fixed;
    top: 5%;
    right: 2%;
    height: $button-height;
    width: $button-width;
    cursor: pointer;
    z-index: 9999;
    transition: opacity 0.25s ease;

    &:hover {
      opacity: 0.7;
    }

    &.active {
      .top {
        transform: translateY(11px) translateX(0) rotate(45deg);
        background: $color-active;
      }
      .middle {
        opacity: 0;
        background: $color-active;
      }

      .bottom {
        transform: translateY(-11px) translateX(0) rotate(-45deg);
        background: $color-active;
      }
    }

    span {
      background: $color-active;
      border: none;
      height: 5px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.35s ease;
      cursor: pointer;

      &:nth-of-type(2) {
        top: 11px;
      }

      &:nth-of-type(3) {
        top: 22px;
      }
    }
  }

  .overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    overflow: hidden;
    z-index: 999;

    &.open {
      opacity: 0.9;
      visibility: visible;
      height: 100%;

      li {
        animation: fadeInRight 0.5s ease forwards;
        animation-delay: 0.35s;

        &:nth-of-type(2) {
          animation-delay: 0.4s;
        }
        &:nth-of-type(3) {
          animation-delay: 0.45s;
        }
        &:nth-of-type(4) {
          animation-delay: 0.5s;
        }
      }
    }
    nav {
      position: relative;
      height: 50%;
      top: 40%;
      transform: translateY(-50%);
      font-size: 30px;
      font-family: "Varela Round", serif;
      font-weight: 400;
      text-align: center;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: inline-block;
      position: relative;
      height: 100%;

      li {
        display: block;
        height: 25%;
        height: calc(100% / 4);
        min-height: 50px;
        position: relative;
        opacity: 0;

        a {
          display: block;
          position: relative;
          color: $color-link;
          text-decoration: none;
          overflow: hidden;

          &:hover:after,
          &:focus:after,
          &:active:after {
            width: 100%;
          }

          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0%;
            transform: translateX(-50%);
            height: 3px;
            background: $color-link;
            transition: 0.35s;
          }
        }
      }
    }
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }
}
//hero-bg
.hero-bg {
  background: linear-gradient(rgba(65, 105, 225, 0.3), rgba(65, 105, 225, 0.3)),
    url(../img/banner.jpg) repeat fixed 100%;
  background-size: cover;
  height: 100vh;
}
//network
.network {
  margin: 80px 0;

  ul {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    height: 22em;
    text-align: center;
    li {
      padding: 1em;
      margin: 10px;
      background: linear-gradient(90deg, $CB 10%, rgba(0, 0, 0, 0.8) 100%);
      a {
        text-decoration: none;
        color: white;
        font-size: 1rem;
        cursor: pointer;
      }
    }
  }
}

//contry-details
.country-details {
  margin: 80px 0;
  .country-inner {
    p {
      text-align: center;
      font-size: 18px;
    }
    .left-align {
      text-align: center;
      button {
        background: linear-gradient(90deg, $CB 10%, rgba(0, 0, 0, 0.8) 100%);
        padding: 8px 55px;
        color: white;
        font-size: 1rem;
        border-radius: 3px;
        border: 1px solid #4169e1;
      }
    }
  }
}

//banner
.banner {
  background: linear-gradient(rgba(65, 105, 225, 0.3), rgba(65, 105, 225, 0.3)),
    url(../img/banner.jpg) repeat fixed 100%;
  background-size: cover;
  height: 300px;
}

//login
.login {
  .main-content {
    width: 50%;
    border-radius: 3px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    margin: 5em auto;
    display: flex;
  }
  .company__info {
    background: linear-gradient(180deg, $CB 10%, rgba(0, 0, 0, 0.8) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
  }
  .fa-android {
    font-size: 3em;
  }
  @media screen and (max-width: 640px) {
    .main-content {
      width: 90%;
    }
    .company__info {
      display: none;
    }
  }
  @media screen and (min-width: 642px) and (max-width: 800px) {
    .main-content {
      width: 70%;
    }
  }
  .row > h2 {
    color: $CB;
  }
  .login_form {
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  form {
    padding: 0 2em;
  }
  .form__input {
    width: 100%;
    border: 0px solid transparent;
    border-radius: 0;
    border-bottom: 1px solid #aaa;
    padding: 1em 0.5em 0.5em;
    padding-left: 2em;
    outline: none;
    margin: 1.5em auto;
    transition: all 0.5s ease;
  }
  .form__input:focus {
    border-bottom-color: $CB;
    box-shadow: 0 0 5px rgba(0, 80, 80, 0.4);
    border-radius: 4px;
  }
  .btn {
    transition: all 0.5s ease;
    width: 70%;
    border-radius: 30px;
    color: #008080;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #008080;
    margin-top: 1.5em;
    margin-bottom: 1em;
    margin: auto;
  }
  .btn:hover,
  .btn:focus {
    background: linear-gradient(180deg, $CB 10%, rgba(0, 0, 0, 0.8) 100%);
    color: #fff;
  }
}

//register
.register {
  a {
    text-decoration: none;
    color: $main;
    transition: 0.5s ease;
  }

  .form {
    background: white;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: $br;
    box-shadow: 0 4px 10px 4px rgba($form-bg, 0.3);
  }

  .tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    li a {
      display: block;
      text-decoration: none;
      padding: 15px;
      background: rgba($gray-light, 0.25);
      color: $SC;
      font-size: 20px;
      float: left;
      width: 50%;
      text-align: center;
      cursor: pointer;
      transition: 0.5s ease;
      &:hover {
        background: $main;
        color: $white;
      }
    }
    .active a {
      background: $main;
      color: $white;
    }
  }

  .tab-content > div:last-child {
    display: none;
  }

  h2{
    text-align: center;
    color: $SC;
    font-weight: $thin;
    margin: 0 0 40px;
  }

  label {
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    color: $SC;
    transition: all 0.25s ease;
    pointer-events: none;
    font-size: 14px;
    .req {
      margin: 2px;
      color: $main;
    }
  }

  label.active {
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
    .req {
      opacity: 0;
    }
  }

  label.highlight {
    color: $white;
  }

  input,
  textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid $gray-light;
    color: black;
    border-radius: 0;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
    &:focus {
      outline: 0;
      border-color: $SC;
    }
  }

  textarea {
    border: 2px solid $gray-light;
    resize: vertical;
  }

  .field-wrap {
    position: relative;
    margin-bottom: 40px;
  }

  .top-row {
    &:after {
      content: "";
      display: table;
      clear: both;
    }

    > div {
      float: left;
      width: 48%;
      margin-right: 4%;
      &:last-child {
        margin: 0;
      }
    }
  }

  .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 1.4rem;
    font-weight: $bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: $main;
    color: white;
    transition: all.5s ease;
    -webkit-appearance: none;
   
  }

  .button-block {
    display: block;
    width: 100%;
  }

  .forgot {
    margin-top: -20px;
    text-align: right;
  }
  .Check{
   height: auto;
  }
  
}
